<h1>Mi primer BOT</h1>
<label>Comados que podemos utilizar en el Bot</label>
<ul>
<li type="circle">/soy NOMBRE</li>
<li type="square">/photo</li>
<li type="disc">/ubicacion</li>
<li>/audio</li>
</ul>
